@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300;400;500;600&family=Raleway:wght@400;500;600;700;800&display=swap");

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  font-family: "Raleway", sans-serif;
}
